<div class="row">
    <h1>Proyectos</h1>
    <div class="container">
        <div class="col-sm-12 col-md-6 col-lg-6" id="texto">
            <h2>Proyecto 1</h2>
            <h4>(Fecha de realizacion)</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos exercitationem fugit quae obcaecati repellat expedita culpa praesentium maiores, ipsa officiis quisquam fuga ducimus dicta perferendis eius blanditiis esse ex ea.</p>
            <h4>link:</h4>
                <a href="">(Link del proyecto)</a>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 offset-md-1 offset-lg-1" id="img">
            <img src="../../../assets/fotoperfil.jpg" class="img-fluid" id="style-imagen">
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6" id="texto">
            <h2>Proyecto 1</h2>
            <h4>(Fecha de realizacion)</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos exercitationem fugit quae obcaecati repellat expedita culpa praesentium maiores, ipsa officiis quisquam fuga ducimus dicta perferendis eius blanditiis esse ex ea.</p>
            <h4>link:</h4>
                <a href="">(Link del proyecto)</a>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 offset-md-1 offset-lg-1" id="img">
            <img src="../../../assets/fotoperfil.jpg" class="img-fluid" id="style-imagen">
        </div>
        
    </div>
</div>
