.form{
    background-color: black;
    padding: 70px;
    border-top: 2px solid white;
}

h1{
    margin-bottom: 50px;
    color: white;
    font-size: 60px;
    font-style: oblique;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 20px;
    margin-top: 100px;
}

h4{
    margin-bottom: 50px;
    color: white;
    font-size: 30px;
    font-style: normal;
    margin-left: 20px;
    margin-top: 50px;
    display: flex;
}
footer{
    color: rgb(88, 105, 105);
    text-align: center;
    font-style: normal;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    border-top: 1px solid rgba(255, 255, 255, 0.274);
    padding-top: 50px;
}


.form__container{
    width: 100%;
    display: grid;
    gap: 1em;
    grid-auto-columns: 100%;
}

.form__input{
    background-color:aqua;
    display: flex;
    margin-top: 50px;
    padding: 10px;
    color: rgb(0, 0, 0);
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 5px;
    width: 300px;
    height: 60px;
    box-shadow: 1px 5px 15px lightblue;
}

.btn{
    margin-top: 30px;
    border-radius: 3px;
    display: inline-block;
    margin-bottom: 10px;
    font-size: larger;
    width: 10%;
    box-shadow: 1px 5px 15px rgb(52, 52, 173);
}

.form__input--message{
    background-color:aqua;
    display: flex;
    margin-top: 50px;
    padding: 10px;
    color: rgb(0, 0, 0);
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 5px;
    width: 300px;
    height: 100px;
    box-shadow: 1px 5px 15px lightblue;
}
