    <form id="form" class="form" action="https://formspree.io/f/xknerzze" method="POST">
    <h1><i class="bi bi-envelope"></i> &nbsp;Contacto</h1>
        <div class="form__container">
            <label>
                <input id="name" type="text" class="form__input" placeholder="Nombre" name="name">
            </label>
            <label>
                <input id="name" type="email" class="form__input" placeholder="Email" name="email">
            </label>
            <label>
                <textarea id="message" class="form__input form__input--message" placeholder="Mensaje" name="message"></textarea>
            </label>
            <button type="submit" value="Enviar" class="btn btn-primary">Enviar</button>
        </div>
        <footer>
            <p>© 2022, Argentina Programa</p>
            <p>Córdoba, Argentina</p> 
        </footer>
    
    </form>
    
