<div class="row">
    <h1>Hard & Soft Skills</h1>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="85"
            [radius]="100"
            [title]="'CSS'"
            [titleColor]="'red'"
            [titleFontSize]="'40'"
            [titleFontWeight]="'bold'"
            [showUnits]="false"
            [showSubtitle]="false"        
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="900"
    ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="90"
            [radius]="100"
            [title]="'HTML'"
            [titleColor]="'red'"
            [titleFontSize]="'40'"
            [titleFontWeight]="'bold'"
            [showUnits]="false"
            [showSubtitle]="false"        
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="900"
    ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="80"
            [radius]="100"
            [title]="'JAVA'"
            [titleColor]="'red'"
            [titleFontSize]="'40'"
            [titleFontWeight]="'bold'"
            [showUnits]="false"
            [showSubtitle]="false"        
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="900"
    ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="80"
            [radius]="100"
            [title]="'JAVASCRYPT'"
            [titleColor]="'red'"
            [titleFontSize]="'25'"
            [titleFontWeight]="'bold'"
            [showUnits]="false"
            [showSubtitle]="false"        
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="900"
    ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="85"
            [radius]="100"
            [title]="'ANGULAR'"
            [titleColor]="'red'"
            [titleFontSize]="'27'"
            [titleFontWeight]="'bold'"
            [showUnits]="false"
            [showSubtitle]="false"        
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="900"
    ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="75"
            [radius]="100"
            [title]="'GIT HUB'"
            [titleColor]="'red'"
            [titleFontSize]="'30'"
            [titleFontWeight]="'bold'"
            [showUnits]="false"
            [showSubtitle]="false"        
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="900"
    ></circle-progress>
    </div>

    <h2>Idiomas</h2>
    <div class="container text-center">
        <div class="row">
          <div class="col">
            <circle-progress
            [percent]="100"
            [radius]="100"
            [title]="'ESPAÑOL'"
            [titleColor]="'red'"
            [titleFontSize]="'30'"
            [titleFontWeight]="'bold'"
            [showUnits]="false"
            [showSubtitle]="false"        
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="900"
    ></circle-progress>
          </div>
          <div class="col">
            <circle-progress
            [percent]="45"
            [radius]="100"
            [title]="'INGLÉS'"
            [titleColor]="'red'"
            [titleFontSize]="'30'"
            [titleFontWeight]="'bold'"
            [showUnits]="false"
            [showSubtitle]="false"        
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="900"
    ></circle-progress>
          </div>
          <div class="col">
            <circle-progress
            [percent]="20"
            [radius]="100"
            [title]="'PORTUGUÉS'"
            [titleColor]="'red'"
            [titleFontSize]="'25'"
            [titleFontWeight]="'bold'"
            [showUnits]="false"
            [showSubtitle]="false"        
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="400"
    ></circle-progress>
          </div>
        </div>
      </div>

</div>
