.row{
    background-color: black;
    border: 2px solid white;
    padding: 50px;
}


#titulo{
    font-size: 60px;
    font-style: oblique;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    margin-left: 20px;
    margin-top: 100px;
    margin-bottom: 10px;
}

.col-lg-11{
    padding: 50px;
    margin-left: 50px;
    color: white;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

h1, h3{
    display: inline;
}

#table{
    color: white;
}