<div class="row">
    <div class="container">
        
        <div class="logo">
            <img src="../../../assets/LogoAP.png" id="LogoAP">
            <img src="../../../assets/ministerio.png" id="Logoministerio">
        </div>

        <div class="redes">
            <a href="https://github.com/Agustin-Sosa"><img src="../../../assets/github.png" id="github"></a>
            <a href="https://www.linkedin.com/in/agustin-sosa-335643246/"><img src="../../../assets/linkedin.png" id="linkedin"></a>
            <button type="button" class="btn btn-light" (click)="login()">LOGIN</button>
        </div>
    </div>
</div>

